* {
	 margin: 0;
	 padding: 0;
 }
 .clearfix::after {
	 content: "";
	 clear: both;
	 display: table;
 }
 ::selection {
	 background-color: #feb44e;
	 color: #111;
 }
 body {
	 font-size: 16px;
	 background-color: #111;
	 position: relative;
	 z-index: 0;
 }
 #wrapper {
	 position: relative;
	 z-index: 1;
	 background-color: #111;
 }
 .container {
	 width: 900px;
	 margin-left: auto;
	 margin-right: auto;
 }
 .orangeBg {
	 background-color: #feb44e;
 }
 .green{
	 background-color: #35ad7e;
 }
 .pink{
	 background-color: #e54673;
	 background-color: #f27498;
 }
 .purple{
	 color: #4b49b2;
 }
 .yellow{
	 color: #fed34e;
 }
 header .container {
	 white-space: nowrap;
 }
 header {
	 position: fixed;
	 z-index: 2;
	 width: 100%;
	 border-bottom: 1px solid #a56a19;
 }
 header h1 {
	 font-family: "Great Vibes", cursive;
	 font-size: 1.618em;
	 display: inline-block;
	 color: #111;
	 width: 50%;
	 padding: 0.618em 0;
	 font-weight: 500;
 }
 header ul {
	 display: inline-block;
	 width: 50%;
	 text-align: right;
 }
 header li {
	 display: inline;
	 font-size: 0.888em;
	 padding: 0 1em;
 }
 header a {
	 font-family: "Source Sans Pro", sans-serif;
	 text-decoration: none;
	 color: #111;
 }
 header a:hover, footer a {
	 color: #13436b;
 }
 a {
	color: #3a74a4;
 }
 a:hover {
 	text-decoration: none;
 }
 div.green a {
 	color: #191873;
 }
 div.pink a {
 	color: #06492e;
 	color: #0b5a3a;
 }
 section#welcome {
	 text-align: left;
 }
 section#welcome h2 {
	 padding-top: 2.618em;
 }
 section#welcome div {
	 display: inline-block;
	 width: 85%;
 }
 section#welcome div#contact {
	 width: 10%;
	 padding: 0 2.5%;
	 vertical-align: top;
	 text-align: center;
 }
 div#contact ul {
	 list-style: none;
 }
 div#contact li {
	 padding: 0.5em 0;
 }
 div#contact img {
	 height: 32px;
 }
 img#avatar {
	 height: 230px;
	 border-radius: 5px;
	 float: left;
	 margin-right: 1.618em;
	 margin-bottom: 0.618em;
 }
 h2, h3 {
	 font-family: "Open Sans", sans-serif;
	 font-size: 2.618em;
	 padding: 1em 0;
	 color: #bfbfbf;
 }
 h3 {
	 font-size: 1.618em;
 }
 p, #aboutMe li {
	 font-family: "Georgia";
	 color: #868686;
	 font-size: 1em;
	 line-height: 1.813em;
	 text-align: justify;
 }
 div.widePane p {
	 text-align: left;
 }
 section {
	 text-align: center;
 }
 body, div, li {
 	font-size: 18px;
 }
 section#aboutMe div, section#projects div {
	 float: left;
	 width: 33%;
 }
 section#aboutMe {
 	padding-top: 2.618em;
 }
 section#aboutMe ul {
 	list-style: square;
 }
 div#biSection, section#welcome {
	 font-size: 0;
 }
 section#courses {
	 width: 100%;
 }
 section#courses .splitPane {
	 display: inline-block;
	 width: 50%;
 }
 section#courses .widePane, section#courses .splitPane,
 section#courses p {
	 padding: 1.618em 0;
 }
 section#courses .widePane h3 {
	 color: #111;
 }
 section#courses .splitPane h3 {
 	padding-bottom: 0;
 }
 section#courses .widePane p {
	 color: #111;
	 padding: 1.618em 0;
 }
 section#courses p + p {
	 padding-bottom: 2em;
 }
 section#courses p {
	 margin: 0 2.618em;
 }
 section#projects img {
	 height: 64px;
 }
 section#projects div p, section#aboutMe p, section#aboutMe ul {
	 padding: 0 1.5em;
	 text-align: justify;
	 padding-bottom: 2.618em;
 }
 footer {
	 position: relative;
	 z-index: -2;
	 font-size: 18px;
	 height: 11.089em;
	 color: #111;
	 text-align: center;
 }
 footer ul {
	 color: #111;
	 padding: 2.618em 0;
	 position: fixed;
	 bottom: 0;
	 z-index: -1;
	 width: 100%;
	 list-style: none;
 }
 footer li {
	 font-family: "Georgia", serif;
	 text-align: center;
	 padding: 0.236em 0;
 }
 footer li span, li#footerContact {
 	padding: 1.618em;
 }
 footer li span img {
 	vertical-align: middle;
 }

 @media only screen and (max-width: 900px) {
	header {
		position: static;
	}

	.container, section#welcome div#contact, section#welcome div {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	header h1 {
		font-size: 2.0225em;
		padding: 1.0em;
		width: auto;
	}

	header li a {
		font-size: 1em;
		padding: 1em;
	}

	section#welcome h2 {
		padding-top: 1em;
		text-align: center;
	}

	p {
		margin: 0 2.618em;
	}

	section#aboutMe {
		padding: 0;
	}

	div#contact li {
		display: inline-block;
		padding: 2.618em 8% 0;
	}

	section#aboutMe div, section#projects div {
		float: none;
		width: 100%;
	}

	section#aboutMe ul {
		list-style-type: none;
	}

	#aboutMe li {
		padding: 0 15%;
	}

	section#aboutMe p {
		padding: 0 10% 2.618em;
	}
	
	section#courses .splitPane {
		display: block;
		width: 100%;
	}

	footer.orangeBg {
		height: 23em;
	}

	footer span {
		display: block;
	}
}
